<!-- Main header -->
<header class="main-header">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-nav navbar-nav-header">
      <img class="pull-left" src="dist/img/favicon.png" width="48" height="48"/>
      <span><b>S</b>ocial <b>S</b>team</span>
    </div>
  </nav>
</header>

<!-- Content Panel -->
<div class="content-wrapper">
  <section class="content-header">
    <h1>Connexion</h1>
  </section>
  
  <section class="row content">
    <div class="form-group marg-20 pad-10">
      <label class="col-xs-3 control-label">Login</label>
      <div class="col-xs-7">
        <input type="text" ng-model="user.login">
      </div>
    </div>
    
    <div class="form-group marg-20 pad-10">
      <label class="col-xs-3 control-label">Mot de passe</label>
      <div class="col-xs-7">
        <input type="password" ng-model="user.password">
      </div>
    </div>
    
    <div class="form-group marg-20 pad-10">
      <button ng-click="doLogin()" class="login-btn">Se connecter</button>
      <button ng-click="subscribe()">S'inscrire</button>
    </div>
  </section>
</div>

<!-- Footer Panel -->
<footer class="main-footer">
  <strong>Copyright &copy; 2016.</strong> All rights reserved.
  <div class="pull-right hidden-xs">Projet EPSI I4</div>
</footer>